{{#if myInternalEvents}}
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Reschedule Internal Event</div>
      <div class="panel-body">
        <form id="formReschedule">
          <div class="row">
            <div class="col-sm-6">
              <select class="form-control" name="eventoToReschedule" id="eventoToReschedule" style="width:100%;">
                <option value="">First, select desired event to reschedule</option>
                {{#each myInternalEvents}}
                  <option value="{{EventCode}}" data-type="{{Type}}" data-start-time="{{start}}" data-end-time="{{end}}" data-leaving-from-event="{{LeavingFromEvent}}" data-room-id="{{Room_ID}}" data-room-name="{{RoomName}}">{{EventCode}} - {{title}}</option>
                {{/each}}
              </select>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-info btn-xs" type="button" name="button" onclick="showMoreInfo();" style="height:27px;">More Info</button>
            </div>
          </div>
          <div class="rescheduleDiv" style="display:none;">
            <div class="row">
              <div class="col-sm-2">
                <label for="StartEvent">Start Event</label>
                <input type="datetime-local" name="StartEvent" id="StartEvent" class="form-control" disabled>
              </div>
              <div class="col-sm-2">
                <label for="EndEvent">End Event</label>
                <input type="datetime-local" name="EndEvent" id="EndEvent" class="form-control" disabled>
              </div>
              <div class="col-sm-4">
                <label for="RoomName">Room</label>
                <input type="text" name="RoomName" id="RoomName" class="form-control" disabled>
              </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-sm-6">
                <span style="font-weight:bold;">Every:</span>
                <label class="checkbox-inline">
                  <input type="checkbox" value="1" name="dayOfWeek">Monday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="2" name="dayOfWeek">Tuesday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="3" name="dayOfWeek">Wednesday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="4" name="dayOfWeek">Thursday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="5" name="dayOfWeek">Friday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="6" name="dayOfWeek">Saturday
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" value="0" name="dayOfWeek">Sunday
                </label>
              </div>
              <div class="col-sm-2" style="padding-right: 0px;padding-left: 0px;">
                <span style="font-weight:bold;">From:</span>
                <input type="date" name="FromDate" id="FromDate" onkeyup="updateMinToDateField(this);" required>
              </div>
              <div class="col-sm-2">
                <span style="font-weight:bold;">To:</span>
                <input type="date" name="ToDate" id="ToDate" required>
              </div>
              <div class="col-sm-2 text-right">
                <button type="submit" name="button" class="btn btn-primary btn-xs btn-block">Generate List of New Event</button>
              </div>
            </div>
            <div class="row" id="divRangeDate" style="margin-top:10px;display:none;">
              <div class="col-sm-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-10">
                        <div style="margin-top:3px;">
                          <span>New desired dates</span> <span class="badge" id="amountEvent"></span>
                        </div>
                      </div>
                      <div class="col-sm-2 text-right">
                        <div>
                          <button onclick="confirmCreation();" type="button" name="button" class="btn btn-success btn-xs btn-block">Confirm Creation</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body" id="listDesiredDates">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="alert alert-danger" role="alert">
      <strong>You don't have any created event.</strong> First, create a new event.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <a href="/internal-event">
        <button type="button" class="btn btn-primary">Create Internal Event</button>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/external-event">
        <button type="button" class="btn btn-primary">Create External Event</button>
      </a>
    </div>
  </div>
{{/if}}

{{#section 'script'}}
  <script type="text/javascript">
    $("#eventoToReschedule").select2()
    $('#FromDate').attr('min',moment().format('YYYY-MM-DD'))
    $('#ToDate').attr('min',moment().add(1, 'days').format('YYYY-MM-DD'))


    $('#FromDate').val(moment().format('YYYY-MM-DD'))
    $('#ToDate').val('2017-10-10')

    function updateMinToDateField(el){
      $('#ToDate').attr('min',moment($(el).val()).add(1, 'days').format('YYYY-MM-DD'))
    }

    if( '' !== $("#eventoToReschedule").val() ){
      $('.rescheduleDiv').css('display', 'block')
    }

    function showMoreInfo(){
      if( '' !== $("#eventoToReschedule").val()){
        moreInformationEvent($("#eventoToReschedule").val())
      }
    }

    $('#eventoToReschedule').change(function(e){
      if('' !== $('#eventoToReschedule').val()){
        $('#divRangeDate').css('display','none')
        $('#listDesiredDates').empty()
        $('.rescheduleDiv').css('display','block')
        $('#StartEvent').val('')
        $('#LeavingFromEvent').val('')
        $('#EndEvent').val('')
        if('I' === $('#eventoToReschedule option:selected').data('type')){
          $('#StartEvent').val($('#eventoToReschedule option:selected').data('start-time').replace(' ','T'))
          $('#EndEvent').val($('#eventoToReschedule option:selected').data('end-time').replace(' ','T'))
          $('#RoomName').val($('#eventoToReschedule option:selected').data('room-name'))
          $('.divLeavingFromEvent').css('display', 'none')
        }else{
          $('#StartEvent').val($('#eventoToReschedule option:selected').data('start-time').replace(' ','T'))
          $('#LeavingFromEvent').val($('#eventoToReschedule option:selected').data('leaving-from-event').replace(' ','T'))
          $('#EndEvent').val($('#eventoToReschedule option:selected').data('end-time').replace(' ','T'))
          $('.divLeavingFromEvent').css('display', 'block')
        }
      }else{
        $('.rescheduleDiv').css('display','none')
      }
    })

    function moreInformationEvent(ecode){
       let form = document.createElement("form")
       form.method = "POST"
       form.action = "/find/search-event-by-code"

       var campo1 = document.createElement("input")
       campo1.name= 'EventCode'
       campo1.value= ecode

       form.appendChild(campo1)
       document.body.appendChild(form)

       form.submit()
    }

    $('#formReschedule').submit(function(e){
      e.preventDefault()

      validateCheckBoxWeek()

      let arrDates = genereateArrayDates()


    })

    function validateCheckBoxWeek(){
      $('input[type=checkbox][name=dayOfWeek]').css('outline','1px solid #FFF')
      if(0 === $('input[type=checkbox][name=dayOfWeek]:checked').size()){
        swal({
          title: "",
          text: "Please select at least ONE day of week",
          type: "error"
        }).then(
          function () {
            $('input[type=checkbox][name=dayOfWeek]').css('outline','1px solid red')
          }
        )
        throw new Error('Please select at least ONE day of week')
      }
    }

    function genereateArrayDates(){

      let arrayWeekDay = []
      $("input[type=checkbox][name=dayOfWeek]:checked").each(function(){
        arrayWeekDay.push(parseInt($(this).val()))
      })

      let a = moment($('#FromDate').val())
      let b = moment($('#ToDate').val())

      let arrayDatesDesired = []
      for (let m = moment(a); m.isSameOrBefore(b); m.add(1, 'days')){
        if( arrayWeekDay.includes(m.day()) ){
          arrayDatesDesired.push({
              "dateDefaultStart": m.format('YYYY-MM-DD'),
              "dateDefaultEnd": m.format('YYYY-MM-DD'),
              "dateFormated": m.format('DD/MM/YYYY') + ' - ' + convertToDayString(m.day()),
              "weekDay": convertToDayString(m.day())
          })
        }
      }

      console.log(arrayDatesDesired)
      $('#divRangeDate').css('display','block')
      if(0 === arrayDatesDesired.length){
        $('#amountEvent').text(0)
        let msgZeroData = '<div class="alert alert-danger" style="margin-bottom:0px;">'+
          '<strong>No dates!</strong> Please, make a valid filter.'
        '</div>'
        $('#listDesiredDates').html(msgZeroData)
      }else{

        $('#amountEvent').text(arrayDatesDesired.length)

        $('#listDesiredDates').empty()
        $('#listDesiredDates').append('<ul style="margin-bottom:0px;"></ul>')
        debugger
        arrayDatesDesired.forEach(function(e){
          debugger
          $('#listDesiredDates ul').append('<li class="newEvent" data-date-start="'+ e.dateDefaultStart +'" data-date-end="'+ e.dateDefaultEnd +'">'+
            e.dateFormated +
          '</li>')
        })
      }

    }

    function convertToDayString(numberDay){
      let weekday = []
      weekday[0] =  "Sunday";
      weekday[1] =  "Monday";
      weekday[2] =  "Tuesday";
      weekday[3] =  "Wednesday";
      weekday[4] =  "Thursday";
      weekday[5] =  "Friday";
      weekday[6] =  "Saturday";
      return weekday[numberDay]
    }

    function confirmCreation(){
      if( 0 === $('.newEvent').size() ){
        swal({
          title: "",
          text: "No dates selected",
          type: "error"
        }).then(
          function () {

          }
        )
        throw new Error('No dates selected')
      }else{

        let dataSend = {
          "EventCode" : parseInt( $('#eventoToReschedule option:selected').val() ),
          "Room_ID": $('#eventoToReschedule option:selected').data('room-id'),
          "desiredDate" : JSON.stringify(serializeDesiredDate())
        }

        $.ajax({
          url: '/reschedule/create',
          type: 'POST',
          data: dataSend,
          dataType:'json',
          success: function(data) {
            console.log(data)
          }
        })
      }
    }

    function serializeDesiredDate(){
      let arrayDesiredDate = []
      $('.newEvent').each(function(e){
        arrayDesiredDate.push($(this).data())
      })
      return arrayDesiredDate
    }

  </script>
{{/section}}
