{{#if myEvents}}

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Reschedule</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <select class="form-control" name="eventoToReschedule" id="eventoToReschedule" style="width:100%;">
              <option value="">First, select desired event to reschedule</option>
              {{#each myEvents}}
                <option value="{{EventCode}}" data-type="{{Type}}" data-start-time="{{start}}" data-end-time="{{end}}" data-leaving-from-event="{{LeavingFromEvent}}">{{EventCode}} - {{title}}</option>
              {{/each}}
            </select>
          </div>
          <div class="col-sm-2">
            <button class="btn btn-info btn-xs" type="button" name="button" onclick="showMoreInfo();" style="height:27px;">More Info</button>
          </div>
        </div>
        <div class="row rescheduleDiv" style="margin-top:10px;display:none;">
          <div class="dateInformation">
            <div class="col-sm-2">
              <label for="">Start Event</label>
              <input type="datetime-local" name="StartEvent" id="StartEvent">
            </div>
            <div class="col-sm-2 divLeavingFromEvent">
              <label for="">Leaving From Event</label>
              <input type="datetime-local" name="LeavingFromEvent" id="LeavingFromEvent">
            </div>
            <div class="col-sm-2">
              <label for="">End Event</label>
              <input type="datetime-local" name="EndEvent" id="EndEvent">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="alert alert-danger" role="alert">
      <strong>You don't have any created event.</strong> First, create a new event.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <a href="/internal-event">
        <button type="button" class="btn btn-primary">Create Internal Event</button>
      </a>
    </div>
    <div class="col-sm-3">
      <a href="/external-event">
        <button type="button" class="btn btn-primary">Create External Event</button>
      </a>
    </div>
  </div>
{{/if}}

{{#section 'script'}}
  <script type="text/javascript">
    $("#eventoToReschedule").select2()

    function showMoreInfo(){
      if( '' !== $("#eventoToReschedule").val()){
        moreInformationEvent($("#eventoToReschedule").val())
      }
    }

    $('#eventoToReschedule').change(function(e){
      debugger
      if('' !== $('#eventoToReschedule').val()){
        $('.rescheduleDiv').css('display','block')
        $('#StartEvent').val('')
        $('#LeavingFromEvent').val('')
        $('#EndEvent').val('')
        if('I' === $('#eventoToReschedule option:selected').data('type')){
          debugger
          $('#StartEvent').val($('#eventoToReschedule option:selected').data('start-time').replace(' ','T'))
          $('#EndEvent').val($('#eventoToReschedule option:selected').data('end-time').replace(' ','T'))
          $('.divLeavingFromEvent').css('display', 'none')
        }else{
          $('#StartEvent').val($('#eventoToReschedule option:selected').data('start-time').replace(' ','T'))
          $('#LeavingFromEvent').val($('#eventoToReschedule option:selected').data('leaving-from-event').replace(' ','T'))
          $('#EndEvent').val($('#eventoToReschedule option:selected').data('end-time').replace(' ','T'))
          $('.divLeavingFromEvent').css('display', 'block')
        }
      }else{
        $('.rescheduleDiv').css('display','none')
      }
    })

    function moreInformationEvent(ecode){
       let form = document.createElement("form")
       form.method = "POST"
       form.action = "/find/search-event-by-code"

       var campo1 = document.createElement("input")
       campo1.name= 'EventCode'
       campo1.value= ecode

       form.appendChild(campo1)
       document.body.appendChild(form)

       form.submit()
    }


  </script>
{{/section}}
