<div class="row" data-intro="With this functionality, you can generate an e-mail with a resume of all finalized events grouped by desired budget">
  <form id="formReport">
    <div class="col-sm-6" data-intro="Select the desired budgets, empty = all budget">
      <select id="id_budget" name="id_budget" style="width:100%;" multiple>
        <option value="">SELECT THE BUDGETs</option>
        {{#each allBudgets}}
          <option data-setor="{{setor}}" data-grupo="{{grupo}}" data-conta="{{conta}}" data-ncont="{{nomecont}}" data-saldo="{{saldo}}" value="{{id_orca}}">{{pad setor 3 0}} {{pad grupo 3 0}} {{conta}} {{ncont}} - R${{addDecimalCases saldo}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col-sm-2" data-intro="To insert the first day of search">
      <input type="date" name="startDate" id="startDate" class="form-control">
    </div>
    <div class="col-sm-2" data-intro="To insert the last day of search">
      <input type="date" name="endDate" id="endDate" class="form-control">
    </div>
    <div class="col-sm-1" data-intro="Click here to send an e-mail to adm_financeiro@britishschool.g12.br">
      <input type="submit" name="" value="Generate Report" class="btn btn-success btn-xs">
    </div>
  </form>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    $(document).ready(function(e){
      $("#id_budget").select2({
        placeholder:"Select the budgets"
      })
      $('#startDate').val(moment().startOf('month').format('YYYY-MM-DD'))
      $('#endDate').val(moment().endOf('month').format('YYYY-MM-DD'))
    })

    $('#formReport').submit(function(e){

      e.preventDefault()
      let arrayIDBudget = $(this).serializeArray().filter((x)=> x.name === 'id_budget')
      let dataSend = $(this).serializeArray()
      dataSend.push({
        name:'arrayIDBudget',
        value: JSON.stringify(arrayIDBudget)
      })

      $.ajax({
        url: '/financial-report/generate-report',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data) {

        }
      })
    })

    // 57 E2FB 913
    // 58 0E2R 916
    // 59 RFA4 815
  </script>
{{/section}}
