{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

<div class="row">
  <div class="col-sm-6">
    <select id="roomID" class="btn-block" name="getAllSiteBuildingRoom" >
      <option value="">SELECT THE ROOM</option>
      {{#each getAllSiteBuildingRoom}}
        <option value="{{RoomID}}">{{unidade}} - {{NameBuilding}} - {{NameRoom}}</option>
      {{/each}}
    </select>
  </div>
</div>

<div class="row" style="margin-top:5px;">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

<div id="modalNewEvent" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:90%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Internal Event</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">
  $(document).ready(function() {
    $("#roomID").select2();

    $("#roomID").change(function(e){
      var curretFullDate = $("#calendar").fullCalendar('getDate');
      var currentMonth = curretFullDate.month() + 1
      var currentYear = curretFullDate.year()
      var idRoom = $("#roomID").val()
      searchEvents()
    })

    $('#calendar').fullCalendar({
      eventColor: '#378006',
      eventBorderColor: '#f00',
      dayClick: function(date, jsEvent, view) {
        console.log('click in day - ' + date.format('YYYY-MM-DD'));
        ( '' !== $("#roomID").val() ) ? showModalNewEvent() : alert('--click day without room. Please, select the Room.')

      },
      eventClick: function(calEvent, jsEvent, view) {
        // alert('Event: ' + calEvent.title);
        // alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        // alert('View: ' + view.name);

        // change the border color just for fun
        $(this).css('border-color', 'blue');

      },viewRender: function (view, element) {
        // console.log('primeiro dia' + view.start.format('YYYY-MM-DD'));
        // console.log('ultimo dia' + view.end.format('YYYY-MM-DD'));
        // var b = $('#calendar').fullCalendar('getDate');
        // console.log('change month - ' + b.format('YYYY-MM-DD'));
        if( '' !== $("#roomID").val() ) searchEvents()

      },eventRender: function(event, element) {
        element.find(".fc-event-title").remove();
        element.find(".fc-event-time").remove();
        // element.find(".fc-content").remove();
        var new_description =
            '<strong>Event: </strong><br/>' + event.title + '<br/>'
            + moment(event.start).format("HH:mm") + '-'
            + moment(event.end).format("HH:mm") + '<br/>'
            + event.customer + '<br/>'
            + '<strong>Address: </strong><br/>' + event.address + '<br/>'
            + '<strong>Task: </strong><br/>' + event.task + '<br/>'
            + '<strong>Place: </strong>' + event.place + '<br/>';
        element.append(new_description);
        var tooltip = 'event.Description;'
        $(element).attr("data-original-title", tooltip)
        $(element).tooltip({ container: "body"})
      }
          // [{
      		// 	title: 'All Day Event',
      		// 	start: new Date(y, m, 1)
      		//   }, {
      		// 	title: 'Meeting2',
      		// 	start: new Date(y, m, d, 10, 30),
      		// 	allDay: false
      		//  }]
    })
    // var monthEvent = [{
    //     title: 'All Day Event',
    //     start: new Date(2017, 6, 1)
    //     }, {
    //     title: 'Meeting2',
    //     start: new Date(2017, 6, 5, 10, 30),
    //     allDay: false
    //    }]
    //$('#calendar').fullCalendar('addEventSource', monthEvent);
   });

  function searchEvents(){
    if($("#roomID").val() === '') return
    console.log('roomID - ' + $("#roomID").val());
    console.log('Primeiro dia do calendar - ' + $('.fc-day').first().data('date'))
    console.log('Ultimo dia do calendar - ' + $('.fc-day').last().data('date'))
    let dataSend = {
      roomID: $("#roomID").val(),
      firstDay: $('.fc-day').first().data('date'),
      lastDay: $('.fc-day').last().data('date')
    }
    $.ajax({
        url: '/internal-event/search-events',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data) {
          $('#calendar').fullCalendar('removeEvents');
          $('#calendar').fullCalendar('addEventSource', data)
        }
    })

    //var curretFullDate = $("#calendar").fullCalendar('getDate');
    //alert(roomID + ' - ' + currentYear + '/' + currentMonth)

  }

  function showModalNewEvent(){
    //alert('new event')
    console.log($('#roomID').select2('data')[0].text)
    $('#modalNewEvent').modal('show')
  }

  // var form = document.createElement("form");
  // form.method = "POST";
  // form.action = "/internal-event/search-events";
  //
  // var roomID = document.createElement("input");
  // roomID.name = 'roomId'
  // roomID.value = $("#roomID").val()
  // form.appendChild(roomID)
  //
  // var currentMonth = document.createElement("input");
  // currentMonth.name = 'currentMonth'
  // currentMonth.value = curretFullDate.month() + 1
  // form.appendChild(currentMonth)
  //
  // var currentYear = document.createElement("input");
  // currentYear.name = 'currentYear'
  // currentYear.value = curretFullDate.year()
  // form.appendChild(currentYear)
  //
  // var firstDayCalendar = document.createElement("input");
  // firstDayCalendar.name = 'firstDayCalendar'
  // firstDayCalendar.value = $('.fc-day').first().data('date')
  // form.appendChild(firstDayCalendar)
  //
  // var lastDayCalendar = document.createElement("input");
  // lastDayCalendar.name = 'lastDayCalendar'
  // lastDayCalendar.value = $('.fc-day').last().data('date')
  // form.appendChild(lastDayCalendar)
  //
  // document.body.appendChild(form);
  // form.submit();
</script>
{{/section}}
