{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

<div class="row">
  <div class="col-sm-6">
    <select id="roomID" class="btn-block" name="getAllSiteBuildingRoom" >
      <option value="">SELECT THE ROOM</option>
      {{#each getAllSiteBuildingRoom}}
        <option value="{{RoomID}}">{{unidade}} - {{NameBuilding}} - {{NameRoom}}</option>
      {{/each}}
    </select>
  </div>
</div>

<div class="row" style="margin-top:5px;">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

<div id="modalNewEvent" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:90%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Internal Event</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">
  $(document).ready(function() {
    $("#roomID").select2();

    $("#roomID").change(function(e){
      var curretFullDate = $("#calendar").fullCalendar('getDate');
      var currentMonth = curretFullDate.month() + 1
      var currentYear = curretFullDate.year()
      var idRoom = $("#roomID").val()
      $('#calendar').fullCalendar('removeEvents');
      if('' !== idRoom) searchEvents()
    })

    $('#calendar').fullCalendar({
      header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listMonth'
		  },
      timezone:'local',
      timeFormat: 'H(:mm)',
      displayEventEnd: true,
      allDaySlot:false,
      eventColor: '#378006',
      eventBorderColor: '#f00',
      dayClick: function(date, jsEvent, view) {
        ( '' !== $("#roomID").val() ) ? showModalNewEvent() : alert('--click day without room. Please, select the Room.')
      },
      eventClick: function(calEvent, jsEvent, view) {

      },viewRender: function (view, element) {
        if( '' !== $("#roomID").val() ) searchEvents()
      },eventRender: function(event, element) {
        element.find(".fc-event-title").remove();
        element.find(".fc-event-time").remove();
        event.description = 'This is a cool event'
        event.id = event.EventID
        var tooltip = '<div class="text-left">Nome do Evento: XXXX teste' + '<br />'
                      + '<span style="color:blue;">Date: XXXX teste</span>' + '<br />'
                      + 'Start Time: 10:00' + '<br />'
                      + 'End Time: 12:00' + '<br />'
                      + 'Nome do Evento: XXXX teste</div>'
        $(element).attr("data-original-title", tooltip)
        $(element).tooltip({ container: "body",html:'true'})
      }
    })
   });

  function searchEvents(){
    if($("#roomID").val() === '') return
    let dataSend = {
      roomID: $("#roomID").val(),
      firstDay: moment($('#calendar').fullCalendar('getView').start).format('YYYY-MM-DD'),
      lastDay: moment($('#calendar').fullCalendar('getView').end).format('YYYY-MM-DD')
    }
    $.ajax({
        url: '/internal-event/search-events',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data) {
          $('#calendar').fullCalendar('removeEvents');
          $('#calendar').fullCalendar('addEventSource', data)
        }
    })
  }

  function showModalNewEvent(){
    console.log($('#roomID').select2('data')[0].text)
    console.log($('#roomID').select2('data')[0].text)
    $('#modalNewEvent').modal('show')
  }
</script>
{{/section}}
