{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

{{#section 'head'}}
  <style media="screen">
  
  </style>
{{/section}}

<div class="row">
  <div class="col-sm-6">
    <select id="roomID" name="getAllSiteBuildingRoom" style="width:100%;">
      <option value="">SELECT THE ROOM</option>
      {{#each getAllSiteBuildingRoom}}
        <option value="{{RoomID}}">{{unidade}} - {{NameBuilding}} - {{NameRoom}}</option>
      {{/each}}
    </select>
  </div>
</div>

<div class="row" style="margin-top:15px;">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>

<div id="modalNewEvent" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:90%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">New Internal Event - <span id="dateTitle"></span> in <span id="roomTitle"></span></h5>
      </div>
      <form id="formNewEvent" action="index.html" method="post">
        <input type="hidden" name="dateNewEvent" id="dateNewEvent">
        <input type="hidden" name="roomIDNewEvent" id="roomIDNewEvent">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">Main information</div>
                  <div class="panel-body">
                    <div class="col-sm-1">
                      <label for="startTimeNewEvent">Start</label>
                      <input type="time" name="startTimeNewEvent" id="startTimeNewEvent" class="form-control" required>
                    </div>
                    <div class="col-sm-1">
                      <label for="endTimeNewEvent">End</label>
                      <input type="time" name="endTimeNewEvent" id="endTimeNewEvent" class="form-control" required>
                    </div>
                    <div class="col-sm-4">
                      <label for="nameNewEvent"> </label>
                      <input type="text" name="nameNewEvent" id="nameNewEvent" class="form-control" placeholder=" Event Name" required>
                    </div>
                    <div class="col-sm-2">
                      <label for="responsibleNewEvent"> </label>
                      <input type="text" name="responsibleNewEvent" id="responsibleNewEvent" class="form-control" placeholder=" Responsible by Event" required>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-top:5px;">
              <div class="col-sm-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">Participants</div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-2">
                        <input type="number" min="0" name="qtdPupilNewEvent" id="qtdPupilNewEvent" class="form-control nParticipant" placeholder=" Nº Pupil">
                      </div>
                      <div class="col-sm-2">
                        <input type="number" min="0" name="qtdParentNewEvent" id="qtdParentNewEvent" class="form-control nParticipant" placeholder=" Nº Parent">
                      </div>
                      <div class="col-sm-2">
                        <input type="number" min="0" name="qtdStaffNewEvent" id="qtdStaffNewEvent" class="form-control nParticipant" placeholder=" Nº Staff">
                      </div>
                      <div class="col-sm-2">
                        <input type="number" min="0" name="qtdVisitorNewEvent" id="qtdVisitorNewEvent" class="form-control nParticipant" placeholder=" Nº Visitor">
                      </div>
                      <div class="col-sm-4">
                        <input type="text" min="0" name="qtdTotalParticipant" id="qtdTotalParticipant" class="form-control" placeholder=" Total" disabled style="text-align: right;">
                      </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-sm-8" style="">
                          <input type="text" name="nameParticipantNewEvent" id="nameParticipantNewEvent" class="form-control" placeholder=" Insert names">
                        </div>
                        <div class="col-sm-4">
                          <button type="button" name="button" class="btn btn-info btn-block">Add</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">Menu</div>
                  <div class="panel-body">
                    <div class="col-sm-8">
                      <select id="listProduct" name="allProductActive" style="width:100%;">
                        <option value="">Select the product</option>
                        {{#each allProductActive}}
                          <option value="{{EventProductID}}">{{NameEnglish}} / {{NamePort}} - R${{Price}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <input type="number" min="0" name="qtdProduct" id="qtdProduct" class="form-control">
                    </div>
                    <div class="col-sm-2">
                      <button type="button" name="button">Add</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Create" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">

  $('.nParticipant').keyup(function(e){
    let sum = 0
    $('.nParticipant').each(function(){
      if('' !== $(this).val()) sum += parseInt($(this).val())
    })
    $('#qtdTotalParticipant').val('Total: ' + sum)
  })

  $('#nameParticipantNewEvent').keypress(function(e){
    if ( e.which == 13 ) e.preventDefault()
    alert('vou inserir')
  });

  $(document).ready(function() {
    $("#roomID").select2()
    $("#listProduct").select2()

    $("#roomID").change(function(e){
      var curretFullDate = $("#calendar").fullCalendar('getDate');
      var currentMonth = curretFullDate.month() + 1
      var currentYear = curretFullDate.year()
      var idRoom = $("#roomID").val()
      $('#calendar').fullCalendar('removeEvents');
      if('' !== idRoom) searchEvents()
    })

    setTimeout(function () { $('#roomID').val('551').trigger('change') }, 100);

    $('#calendar').fullCalendar({
      header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listMonth'
		  },
      timezone:'local',
      timeFormat: 'H(:mm)',
      displayEventEnd: true,
      allDaySlot:false,
      dayClick: function(date, jsEvent, view) {
        ( '' !== $("#roomID").val() ) ? showModalNewEvent(date) : alert('--click day without room. Please, select the Room.')
      },
      eventClick: function(calEvent, jsEvent, view) {

      },viewRender: function (view, element) {
        if( '' !== $("#roomID").val() ) searchEvents()
      },eventRender: function(event, element) {
        element.find(".fc-event-title").remove();
        element.find(".fc-event-time").remove();
        event.description = 'This is a cool event'
        event.id = event.EventID
        var tooltip = '<div class="text-left">Nome do Evento: XXXX teste' + '<br />'
                      + '<span style="color:yellow;">Date: XXXX teste</span>' + '<br />'
                      + 'Start Time: 10:00' + '<br />'
                      + 'End Time: 12:00' + '<br />'
                      + 'Nome do Evento: XXXX teste</div>'
        $(element).attr("data-original-title", tooltip)
        $(element).tooltip({ container: "body",html:'true'})
      }
    })
   });

  function searchEvents(){
    if($("#roomID").val() === '') return
    let dataSend = {
      roomID: $("#roomID").val(),
      firstDay: moment($('#calendar').fullCalendar('getView').start).format('YYYY-MM-DD'),
      lastDay: moment($('#calendar').fullCalendar('getView').end).format('YYYY-MM-DD')
    }
    $.ajax({
        url: '/internal-event/search-events',
        type: 'POST',
        data: dataSend,
        dataType:'json',
        success: function(data) {
          $('#calendar').fullCalendar('removeEvents');
          $('#calendar').fullCalendar('addEventSource', data)
        }
    })
  }

  function showModalNewEvent(date){
    $('#roomTitle').text($('#roomID').select2('data')[0].text)
    $('#dateTitle').text(moment(date).format('DD/MM/YYYY'))
    $('#dateNewEvent').val(moment(date).format('YYYY-MM-DD'))
    $('#roomIDNewEvent').val($("#roomID").val())
    $('#modalNewEvent').modal('show')
    populateToTest()
  }

  $('#modalNewEvent').on('shown.bs.modal', function () {
    $('#startTimeNewEvent').focus();
  })

  function populateToTest(){
    $('#startTimeNewEvent').val('10:00')
    $('#endTimeNewEvent').val('11:00')
    $('#nameNewEvent').val('nome evento teste')
    $('#responsibleNewEvent').val('nome evento teste')
  }

  $( "#formNewEvent" ).submit(function( e ) {
    e.preventDefault()
    checkEndAfterStart()
    checkNewTimeDay()
    nextFunction()
  });

  function checkNewTimeDay(){
    let startEvent = moment($('#dateNewEvent').val() + 'T' + $('#startTimeNewEvent').val())
    let endEvent = moment($('#dateNewEvent').val() + 'T' + $('#endTimeNewEvent').val())
    var isBetween = $('#calendar').fullCalendar( 'clientEvents', function(event){
      if(startEvent.isBetween(event.start, event.end, null, [])
      || endEvent.isBetween(event.start, event.end, null, [])){
        alert('Horário selecionado já está em uso na Room' + $('#roomID').select2('data')[0].text.split('-').pop())
        throw new Error('Time + Room already in use.')
      }
    })
  }

  function checkEndAfterStart(){
    let startEvent = moment($('#dateNewEvent').val() + 'T' + $('#startTimeNewEvent').val())
    let endEvent = moment($('#dateNewEvent').val() + 'T' + $('#endTimeNewEvent').val())
    if(startEvent >= endEvent){
      alert('Horário Final deve ser após horário inicial')
      throw new Error('Time + Room already in use.')
    }
  }

  function nextFunction(){
    alert('passou')
  }
</script>
{{/section}}
