{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

<div class="row">
  <div class="col-sm-6">
    <select class="js-example-basic-single btn-block" name="getAllSiteBuildingRoom" >
      {{#each getAllSiteBuildingRoom}}
          <option value="{{RoomID}}">{{unidade}} - {{NameBuilding}} - {{NameRoom}}</option>
      {{/each}}
    </select>
  </div>
</div>

{{#section 'script'}}
<script type="text/javascript">
  $(document).ready(function() {
    $(".js-example-basic-single").select2();

    $(".js-example-basic-single").change(function(e){
      console.log(this.value);
    })
  });
</script>
{{/section}}
