{{#section 'functionality'}}
  {{#each sess.functionalityProfile}}
    <li><a href="{{Action}}"><i class="fa {{Icon}}"></i> {{Name}} </a></li>
  {{/each}}
{{/section}}

<select class="" name="getAllSiteBuildingRoom">
  {{#each getAllSiteBuildingRoom}}
      <option value="{{RoomID}}">{{unidade}} - {{NameBuilding}} - {{NameRoom}}</option>
  {{/each}}
</select>

{{#section 'script'}}
  <script type="text/javascript">

  </script>
{{/section}}
