<style media="screen">
  #modalMoreInfoInternal table td{
    border: 1px solid black;
    vertical-align:top;
  }
  #modalMoreInfoInternal .titleDataReport{
    font-size: 10px;
  }
  #modalMoreInfoInternal .titleDataReport span{
    border-right: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
    padding: 1px 3px 2px 2px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
  }
  #modalMoreInfoInternal .contentDataReport{
    padding: 2px 4px 2px 4px;
    text-align: right;
  }
  .myBold{
    font-weight: bold;
  }
</style>

<div id="modalMoreInfoInternal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:80%;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{EventCode}} - {{StatusName}} - {{title}}</h4>
      </div>
      <div class="modal-body">
        <table style="width:100%;">
          <tr>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Created By</span>
              </div>
              <div class="contentDataReport">
                {{CreatedByName}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Responsible By Event</span>
              </div>
              <div class="contentDataReport">
                {{ResponsibleByName}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Departament</span>
              </div>
              <div class="contentDataReport">
                inserir departamento
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Start/End Time</span>
              </div>
              <div class="contentDataReport">
                {{start}} - {{end}}
              </div>
            </td>
          </tr>
          <tr>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nº Parent</span>
              </div>
              <div class="contentDataReport">
                {{Nparent}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nº Pupil</span>
              </div>
              <div class="contentDataReport">
                {{Npupil}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nº Staff</span>
              </div>
              <div class="contentDataReport">
                {{Nstaff}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Nº Visitor</span>
              </div>
              <div class="contentDataReport">
                {{Nvisitor}}
              </div>
            </td>
          </tr>
          <tr>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Need Computer?</span>
              </div>
              <div class="contentDataReport">
                {{NeedComputer}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Need DataShow?</span>
              </div>
              <div class="contentDataReport">
                {{NeedDataShow}}
              </div>
            </td>
            <td style="width:25%;">
              <div class="titleDataReport">
                <span>Video Conference</span>
              </div>
              <div class="contentDataReport">
                From: {{VideoFrom}}, To: {{VideoTo}}
              </div>
            </td>

          </tr>
        </table>
      </div>

      {{this}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
